#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formData{
  display: grid;
  grid-column: 1;
  width: 20rem;
input{
  height: 2rem;
  outline: none;
}
}

ul li{
  list-style: none;
  text-align: left;
}

.showing{
  display: flex;
  padding: 1rem;
}

.AppData,formData{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid;
  width: 50%;
}
